/**
 *  purpose: CSS for commerce_xls_import
**/

.product-options {
  margin-right: 75px;
}

.import-buttons {
  margin-top: 30px;
}

#legend-swatches .swatch-container {
  float: left;
  width: 550px;
  margin: 0 10px;
}

.swatch-container .swatch {
  width: 130px;
  padding: 5px;
  margin-right: 15px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 20px;
}

#parent-swatch .swatch {
  background-color: #8db4e3;
}

#variation-swatch .swatch {
  background-color: #fac090;
}

#both-swatch .swatch {
  background-color: #24abb7;
}

#warning-swatch .swatch {
  background-color: #ffeb9c;
}

#error-swatch .swatch {
  background-color: #ff9999;
}

#success-swatch .swatch {
  background-color: #78faa3;
}

.swatch-container span {
  width: 390px;
  display: inline-block;
  vertical-align: middle;
}
.swatch-container .swatch span {
  display: inline;
  width: 130px;
  vertical-align: top;
}

.product-field h6 {
  margin-top: 0;
  padding: 0 15px 0 0;
  min-width: 250px;
  display: block;
  float: left;
}

.product-field {
  margin-top: 10px;
}
#edit-errors-button {
  clear: both;
}
.product-options .form-submit {
  margin-top: 30px;
  min-width: 300px;
}
.product-options .form-submit,
#edit-errors-button,
#commerce-xls-import-export-products,
#commerce-xls-import-download-template,
.product-options .form-submit:active,
#edit-errors-button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: none;
  color: #0074bd;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-shadow: none;
  text-align: left;
  float: left;
  padding: 0;
}
#edit-errors-button {
  float: none !important;
}
.product-options .form-submit:hover,
#edit-errors-button:hover,
#commerce-xls-import-export-products:hover,
#commerce-xls-import-download-template:hover {
  text-decoration: underline;
}

div.divider {
  border-bottom: 1px solid #ececec;
  width: auto;
  max-width: 900px;
}

.last-import-message {
  margin-top: 40px;
}

.block ul.xls-action-links{
  padding: 0;
  margin: 54px 0 0;
}

.xls-action-links li{
  position: relative;
  padding-left: 49px;
  padding-top: 36px;
  border-top: 1px solid #ccc;
  margin-left: 0;
  margin-bottom: 30px;
  background: url(images/list-item.png) no-repeat 0 40px;
  list-style-type: none;
  list-style-image: none;
  float: none;
}
.xls-action-links li a {
  padding-left: 0;
  color: #2A8EE6;
  font-size:17px;
  line-height:1.3;
  background: none;
}
.description-xls {
    margin: 9px 0;
    line-height: 1.231em;
    font-size: 0.923em;
    color: #666;
}
.page-admin-commerce-products-commerce-xls-import fieldset{
  margin: 48px 0 20px;
  width: 66.6%;
  padding: 21px 19px 25px;
  background: #F2F2F2;
}
.page-admin-commerce-products-commerce-xls-import fieldset .fieldset-wrapper {
    padding: 0;
}
.page-admin-commerce-products-commerce-xls-import fieldset .fieldset-wrapper ul{
  margin: 0px 12px;
}
.page-admin-commerce-products-commerce-xls-import fieldset .fieldset-legend{
  text-transform: initial;
}
.page-admin-commerce-products-commerce-xls-import h1 {
  font-size: 2.638em;
}
.page-admin-commerce-products-commerce-xls-import .action-links{
  display:none;
}
.page-admin-commerce-products-commerce-xls-import  .tabs-secondary{
  position:relative;
  margin-bottom: 40px;
  margin-top: 30px;
}
.page-admin-commerce-products-commerce-xls-import .tabs-secondary.clearfix::before {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  background: #ccc;
  z-index: 99;
  visibility: visible;
  bottom: 5px;
}
.page-admin-commerce-products-commerce-xls-import ul.secondary:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.page-admin-commerce-products-commerce-xls-import ul.secondary li a,.page-admin-commerce-products-commerce-xls-import  ul.secondary li a:hover,.page-admin-commerce-products-commerce-xls-import  ul.secondary li.active a,.page-admin-commerce-products-commerce-xls-import  ul.secondary li.active a.active
{
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  padding: 12px 26px;
  font-size: 14px;
  text-transform: uppercase;
}
.page-admin-commerce-products-commerce-xls-import .tabs-secondary{
  display:none;
}
body[class*="page-admin-commerce-products-commerce-xls-import-"] .tabs-secondary{
 display: block;
}
progress#commerce-xls-import-progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 375px;
    height: 20px;
}

progress#commerce-xls-import-progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress#commerce-xls-import-progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)
    ),
    -webkit-linear-gradient(
      left,
      #09c,
      #52aff7
    );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress#commerce-xls-import-progress[value]::-moz-progress-bar {
    background-image:
    -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left,
      #09c,
      #52aff7
    );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}